@layer base {
    :root {
      --color-black: #000;
      --color-white: #fff;
      --color-blue-100: #f2f9fc;
      --color-blue-200: #e8f5fb;
      --color-blue-300: #cce6f4;
      --color-blue-400: #0084c5;
      --color-blue-500: #1f9ed9;
      --color-red: #ff001c;
      --color-red-x-light: #ffcccc;
      --color-green: #00a345;
      --color-green-x-light: #ccffcc;
      --color-yellow: #ebc32f;
      --color-yellow-light: #fbe9c5;
      --color-yellow-x-light: #ffffcc;
      --color-gray-100: #f9f9f9;
      --color-gray-200: #e5e5e5;
      --color-gray-300: #e2e8f0;
      --color-gray-400: #d6d6d6;
      --color-gray-500: #a0aec0;
      --color-gray-600: #919191;
      --color-gray-700: #444444;
      --color-gray-800: #2d3748;
      --color-gray-900: #1a202c;
    }
  }
  